<html xmlns:th="https://thymeleaf.org">
<ul class="list-unstyled components mb-5" th:fragment="sidebar">

    <li>
        <a th:href="@{/history}"><span class="fa fa-user mr-3"></span>History</a>
    </li>
    <li>
        <a th:href="@{/upload}"><span class="fa fa-upload mr-3"></span>Upload Lectures</a>
    </li>
    <li>
        <a th:href="@{/schedule}"><span class="fa fa-calendar mr-3"></span> Schedule Session</a>
    </li>
    <li>
        <a th:href="@{/load-profile}"><span class="fa fa-address-book mr-3"></span>View Profile</a>
    </li>
    <li>
        <a th:href="@{/logout}"><span class="fa fa-sticky-note mr-3"></span>Logout</a>
    </li>
</ul>